
/*#### { paper-two debut } ####*/
.paper-two{
    box-shadow: var(--boxShadow);
    border: 1px solid rgb(229, 229, 229);
    width: 58em;
    padding: 1.5em;
    max-width: 58em;
    box-sizing: border-box;
    background-color: white;
}

.paper-two .entete{
    display: grid;
    grid-template-columns: 14em 27em 14em;
    width: 100%;
}

    /*### section 8 description ###*/
    .description{
        margin-top: 1.5em;
    }

    .description .titre{
        text-align: center;
        display: grid;
        background-color: var(--rouge);
        font-size: 12px;
        font-weight: bolder;
        padding: 4px 0px 4px 0px;
        color: white;
    }

    .description .description-row{
        display: grid;
        grid-template-columns: 18% 18% 44% 20%;
    }

    .description .description-row .div-content-editable{
        min-height: 10em;
    }

/*#### { paper-two fin } ####*/