img {
    display: inline-block;
    max-width: 100%; /* Pour éviter les débordements */
    cursor: pointer; /* Indiquer qu'elles sont interactives */
}

table{
    max-width: 95%;
    min-width: 80%;
    table-layout: fixed;
}

th, td {
    vertical-align: top;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Optional: show ellipsis for overflowed text */
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}