img {
    display: inline-block;
    max-width: 100%; /* Pour éviter les débordements */
    cursor: pointer; /* Indiquer qu'elles sont interactives */
}

table{
    max-width: 95%;
    min-width: 80%;
    table-layout: fixed;
}

th, td {
    vertical-align: top;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Optional: show ellipsis for overflowed text */
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* color */
.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textColorBtn {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s;
}

#textColorBtn:hover {
  background-color: #0056b3;
}

.selected-color {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

