
/** Start Toolbar **/
/* body{
  overflow-y: hidden;
} */

.header-editor{
  width: 100%;
  height: fit-content;
  display: flex;
  background-color: #f7f7f7;
  padding-top: 20px;
  position: fixed;
  top: 0px;
  padding-bottom: 1em;
  justify-content: center;
  column-gap: 1em;
}

.toolbar-editor{
  margin-top: 2em;
  background-color: white;
  min-width: 62em;
  box-shadow: rgba(163, 163, 163, 0.2) 0px 2px 8px 0px;
  z-index: 2;
  padding: 5px 5px 5px 5px;;
  border-radius: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.toolbar-button{
  border: none;
  background-color: transparent;
  padding: 8px 8px;
  border-radius: 6px;
}

.toolbar-button:hover{
  cursor: pointer;
  background-color: rgb(244, 244, 244);
}


.toolbar-editor input[type="file"] {
  display: none;
}

.custom-image-upload {
  display: inline-block;
  padding: 8px 8px;
  border-radius: 6px;
  background-color: transparent;
}

.custom-image-upload:hover{
  cursor: pointer;
  background-color:  rgb(244, 244, 244);
}










/** End Toolbar **/






/* Align the select option with buttons */
.toolbar-editor select {
  background-color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px; /* Adjusts space between elements */
  cursor: pointer;
  color: #333;
}


/* Align select with toolbar buttons */
.font-selecor, .font-size-selecor {
  display: inline-block;
}

/* Style options inside select */
select option {
  background-color: white;
  color: black;
}


img {
  display: inline-block;
  max-width: 100%; /* Pour éviter les débordements */
  cursor: pointer; /* Indiquer qu'elles sont interactives */
}

table{
  max-width: 100%;
  min-width: 80%;
  table-layout: fixed;
}

th, td {
  vertical-align: top;
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Optional: show ellipsis for overflowed text */
}




.font-color-picker{
display: inline-grid;
}

#font-color{
display: none;
justify-content: center;
}



/*### Choice ###*/

.choice option{
  box-shadow: none;
}

.choice .custom-select {
  position: relative;
  width: 10em;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #ccc;
  /* background-color: #fff; */
  background-color: none;
  border: none;
}

.choice .selected-option {
  padding: 0.8em;
  text-align: center;
  background-color: rgb(53, 53, 255);
  color: white;
  width: 13em;
  border-radius: 0.5em;
}

.choice .options-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  z-index: 10;
}

.choice .option {
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.choice .option:hover {
  background-color: #ececec;
}

.choice .custom-select:hover .options-container {
  display: block;
}

.choice .custom-select .file {
  margin-right: 10px;
}


.div-document{
  display: flex;
  justify-content: center;
  height: 5.5em;
  flex-direction: column;
  border: 1px solid rgb(208, 208, 208);
  padding: 0.5em 0.5em;
  box-shadow: rgba(221, 221, 221, 0.2) 0px 2px 8px 0px;
  border-radius: 3px;
  width: 6em;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 0.5em;
}

.span-document-image img{
  height: 2.3em;
  width: 2.3em;
  object-fit: contain;
}

.span-document-name{
  font-size: 10px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}