#menu-header{
    background-color: rgb(236, 34, 34);
    display: grid;
    padding-top: 0.2em;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding-right: 5em;
    padding-left: 5em;
    /* padding-bottom: 0.8em; */
    height: fit-content;
}

.item-right{
    float: right;
    display: grid;
    justify-content: end;
    row-gap: 0.6em;
}

.list-button{
    display: flex;
    justify-content: flex-end;
}